body {
    background-color: #161616;
    margin: auto;
}




#MOROS{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    width: 60vh;
    max-width: 95vw;

}


#discord{
    width: 15vh;
    margin-bottom: 4vh;
}


#arrow{
    width: 6vh;
}


#team{
   
    max-width: 95vw;
    width: 175vh;
    min-width: 70vw;
    
}



#kontakt{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 50vh!important;
}