body {
    background-color: #161616;
    margin: auto;
}




#MOROS{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 60vh;

}


#discord{
    width: 15vh;
    margin-bottom: 2%;
}


#arrow{
    width: 6vh;
}


#team{
   
    width: 83vw;
    
}



